body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #fff;
    /* Updated background color to white */
    color: #333;
    /* Updated text color */
}

header {
    background-color: #3498db;
    /* Updated header background color */
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    font-size: 1.5em;
    margin-bottom: 15px;
}

p {
    font-size: 1.1em;
    line-height: 1.8;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}